{{!-- <!DOCTYPE html>? --}}
{{!-- <html> --}}
    {{!-- <head> --}}

    {{!-- </head> --}}
    {{!-- <body> --}}
        <div class="container">
            <div class="row">
                <div class="col" style="text-align: center">
                    <h1>Dividend Calculator</h1>
                </div>
            </div>

            <div class="row">
                <div class="col" style="text-align: center">
                    Which Stock do you want to see!
                    <input type="text" id="val">
                    <button value="submit" id="submit">submit</button>
                </div>
            </div>

            <div class="row">
                <div class="col" style="text-align: center">
                    want to buy some shares click
                    <button value="submit" id="link">here</button>
                </div>
            </div>
        </div>
    {{!-- </body> --}}
{{!-- </html> --}}