 <div class="container">
            <div class="row">
                <div class="col" style="text-align: center">
                    <h1>Welcome to your Portfolio</h1>
                </div>
            </div>

            <div class="row">
                <div class="col" style="text-align: center">
                    Here is your total equity
                </div>
            </div>

            <div class="row">
                <div class="col" style="text-align: center">
                    Most recent purchase.
                </div>
            </div>
        </div>