<div class="container">
    <div class="row">
        <div class="col" style="text-align: center">
            <h1>Welcome to your Portfolio</h1>
        </div>
    </div>

    <div class="row">
        <div class="col" style="text-align: center">
            Here is your total equity
        </div>
    </div>

    <div class="row">
        <div class="col" style="text-align: center">
            Most recent purchase:
        </div>
    </div>
    <div class="row">
        <div class="col" style="text-align: center">
            want to buy more stock?
            <button value="submit" id="link">here</button>
        </div>
    </div>
    <div class="row">
        <div class="col" style="text-align: center">
            want to go back to the home page
            <button value="submit" id="home">here</button>
        </div>
    </div>
</div>