  <div class="container">
            <div class="row">
                <div class="col" style="text-align: center">
                    <h1>Congatgulations</h1>
                </div>
                <div class="col">
                    <h2>You've bought {{data.shareName}}</h2>
                    <h2>at ${{data.purchasedPrice}} per share</h2>
                    <h2>for {{data.volume}}</h2>
                    {{!-- save purchased ammount --}}
                </div>
            </div>
            
</div>